/* Fixes the initial browser’s style */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* FONTS */
@font-face {
    font-family:'Rosario';
    src: url("font/Rosario-Regular.ttf");
    font-style: normal;
}
@font-face {
    font-family:'Rosario';
    src: url("font/Rosario-Italic.ttf");
    font-style: italic;
}



/* USING LESS: define variables to be re-used in different css parts and in operations */
/* example: */
/* @box-width: 350px; */
/* .double-box { */
/* width: 2 * @box-width; */
/* } */

/*ADMIN*/

.ajout-form {
    input {
        height: 23px;
        font-family:'Rosario';
        font-size: 18px;
        padding-left: 5px;
    }
    button {
        padding: 5px;
    }
}
.logout {
    font-family:'Rosario';
    font-size: 18px;
    padding: 5px;
}


/*     _____________   ____________  ___    __ 
    / ____/ ____/ | / / ____/ __ \/   |  / / 
   / / __/ __/ /  |/ / __/ / /_/ / /| | / /  
  / /_/ / /___/ /|  / /___/ _, _/ ___ |/ /___
  \____/_____/_/ |_/_____/_/ |_/_/  |_/_____/
                                             */


body {
    font-family: 'Arial', 'Helvetica', "sans-serif";
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
    background-color: #495182;
    color: black;
}
.background-black {
    background-color: black;
    color: white;
}
.container {
    margin-bottom: 50px;
}

p {
    
}

a, a:visited, a:active, a:link { 
    text-decoration: none;
    color: black;
}
a:hover {
    color: #495182;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {

}
li {
    list-style-type: none;
}

/* MENU ACCUEIL (DESSIN) */ 
.menu {
    
}
.menuhover img {
    position: absolute;
}
.menuhighlight {
    display: none;
}
.fonds-noir {
    position: fixed; 
    height: 100%; 
    width: 100%; 
    top: 0; 
    left: 0;
    background-color: black;
    z-index: -2;
}
.carre-bleu {
    position: fixed; 
    height: 625px; 
    width: 800px; 
    top: 50%; 
    left: 50%; 
    margin-top: -315px; 
    margin-left: -400px; 
    z-index:-1; 
    background-color: #495182;
}
/* LANGUAGE SELECTION */ 
.select_language {
    position: absolute; 
    top: -10px; 
    right: 0px;
}
.select_language li {
    font-size: 15px;
    line-height: 20px;
}
/* MENU PAGES */ 
.menu-pages {
    text-transform: uppercase;
    position: fixed;
    top: 0px;
    left: 0px;
}
.menu-pages a {
    color: white;
    line-height: 40px;
}
.menu-pages select_language li {
    line-height: 40px;
    font-size: 30px;
}
.box {
    margin: 30px 0px 30px 30px;
    position: fixed;
    bottom: 90px;
    left: 10px;
    padding: 20px;
    color: white;
    img {
        width: 110px;
        position: absolute;
    }
}
.div-menu {
    height: 15px;
    width: 110px;
    z-index:5;
}
.titre-menu {
    text-align: center;
    padding: 0px 0px 60px 0px;
}
.sous-menu-pages {
    position: fixed;  
    top: 30px; 
    right: 40px;
    padding-top: 20px;
    text-transform: uppercase;
}
.sous-menu-pages a {
    color: white;
}

/* MENU RESPONSIVE SMALL */
.menu-alt {
    padding-top: 10px;
    width: 100%;
}
.menu-alt a {
    color: black;
}
.menu-alt p {
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
}
.menu-alt li {
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
}
.accordion {
   margin: 50px;   
   dt {
      p {
          color: white;
      }
   }
}

/* TITRES */
.titres {
    width: 250px; 
    margin: auto;
}
.titres img {
    padding-top: 80px;
    padding-bottom: 80px;
    margin: auto;
}

.contenu-centre {
    position: absolute; 
    height: 100%;
    width: 800px;
    left: 50%; 
    margin-left: -400px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
}
.menu-centre {
    position: absolute; 
    height: 100%;
    width: 800px;
    left: 50%; 
    margin-left: -400px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    line-height: 30px;
}
.sous-menu-centre {
    position: absolute; 
    height: 100%;
    width: 800px;
    left: 50%; 
    margin-left: -400px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    img {
        width:700px;
        margin-top:20px;
    }
    font-size: 25px;
    line-height: 30px;
}
.fondsblanc {
    position: fixed;
    height: 100%;
    width: 800px;
    left: 50%; 
    margin-left: -400px;
    background-color: white;
}
/*BIO*/
.bio {
    padding-top: 50px;
    img {
        width:500px; 
        margin: 40px 0 10px 0;
    }
}
.issuuembed {
    margin-left: 160px;
}

/*LIVRES*/

/*BIBLIOTHEQUE*/
.bibliotheque {
    width: 800px;
    height: 600px;
    background-color: #495182;
    margin: 30px 0px 30px 20%;
    padding: 20px;
    overflow-x: scroll;
}
.series {
    position: relative;
    float: left;
    background-color: #495182;
    margin: 50px 10% 50px 50px;
    padding: 20px;
    width: 400px;
    height: 600px;
    border: 2px solid white;
    overflow-y: scroll;
}

@bookswidth: 180px;
@shelfheight: 250px;

.books {
    position: absolute; 
    width: 800px;
    left: 50%; 
    margin-top: 0px;
    margin-left: -400px;
    padding-bottom: 100px;
    padding-left: 50px;
}
.bookshelf {
    position: absolute;
    width: 800px; 
    top: 0px; 
    left: 50%; 
    margin-left: -400px; 
    padding-top: 80px;
    padding-left: 50px;
}
.bookshelf img {
    width: @bookswidth;
}
.book-cover-shelf {
    height: @shelfheight;
    width: @bookswidth;
    position: relative;
    float: left;
    margin-right: 60px;
    margin-bottom:50px;
}
.book-cover-shelf img{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

/*BIBLIOGRAPHIE*/
.bibliographie {
    margin-bottom: 100px;
}
.bibliographie-series {
    text-align: center;
    padding-bottom: 25px;
}
.prix {
    font-size: 15px; 
    line-height: 18px;
    padding-left: 20px;
}
/*PAGE LIVRE*/

.sous-menu-livres {
    img {
        position: relative;
        height: 60px;
    }
    .menuhover {
        text-align: center;
    }
    div {
        float: left;
        width: 88px;
        margin-bottom: 30px;
    }
}
.livre-button {
    cursor: pointer;
}
.titre-livre {
    text-align: center; 
    padding-bottom: 40px; 
    font-size: 50px;
    clear: both;
}
.livres {
    position: absolute;
    width: 800px; 
    top: 10px; 
    left: 50%; 
    margin-left: -400px; 
    padding: 20px 30px 30px 50px;
}
.livre-cover {

}
.livre-description {
    margin-top: 20px;
}
.livre-cover img {
    width: 300px;
    margin-bottom: 30px;
    margin-right: 30px;
    float: left;
}
.spreads img {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 100px;
    width: 500px;
}
.livre-section {
    iframe {
        margin-left: 140px;
        margin-top: 50px;
    }
}


/*AFFICHES*/
.bloc-affiches-small {
    clear: both;
}
.affiche-small {
    width: 220px;
    height: 320px;
    margin-right: 20px;
    padding-top: 10px;
    float: left;
    img {
        height: 300px;
    }
}

/* LIENS */
.img-ref p {
    padding-top: 10px;
    width: 600px;
}
/* VIDEOS */
.videos {
    margin-top: 50px;
    iframe {
        margin: 20px;
    }
}
.videos-titre {
    text-align: center;
    padding-bottom: 25px;
    text-transform: uppercase;
}

/* IMAGES */
.big-image {
    img {
        width: 720px;
        margin-top: 50px;
    }
}

/*only on the screen*/

@media screen {
    .print-only {
        display:none;
    }
    .printer-icon {
        margin-top: -50px;
    }
}

/*only in print*/

@media print {
    body {
        background-color: white;
    }
    .screen-only {
        display:none;
    }
    .bibliography {
        font-size: 16px;
        line-height: 20px;
        color: black;
        width: 500px;
    }
    .bibliography a {
        font-size: 16px;
        color: black;
    }
}

/* BIG SCREENS ONLY (COMPUTERS) */

@media screen and (min-width: 400px) {
    .menu-alt {
        visibility: hidden;
        left:-1000;
    }
}

/* SMALL SCREENS ONLY (SMARTPHONES) */

@media screen and (max-width: 400px) {
    .select_language {
        position: relative;
        left: 50%;
        margin-left: -37px;
    }
    .menu {
        background-color: #495182;
        visibility: hidden;
    }
    #volant {
        display: none;
    }
    .menu-alt {
        visibility: visible;
        margin-bottom: 30px;
    }
    .menu-alt a {
        color: black;
    }
    .carre-bleu {
        width: 400px;
        visibility: hidden;
    }
    .fonds-noir {
        width: 100px;
        visibility: hidden;
    }
    .books {
        position: relative; 
        width: 100%;
        top: 0; 
        left: 0; 
        margin-top: 40px; 
        margin-left: 0px;
        padding-left: 0px;
    }
    .book-cover-shelf {
        float: none;
        margin: auto;
    }
    .contenu-centre {
        position: relative; 
        width: 80%;
        top: 30px; 
        left: 0; 
        padding: 0px 0px 0px 0px;
        margin: auto;
    }
    .contenu-centre img {
        width: 80%;
        margin-left: 10%;
        margin-bottom:20px;
    }
    .issuuembed {
        margin-left: 0px;
    }
    .affiche-small {
        visibility: hidden;
        position: absolute;
    }
}
