/* Fixes the initial browser’s style */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* FONTS */
@font-face {
    font-family:'Rosario';
    src: url("font/Rosario-Regular.ttf");
    font-style: normal;
}
@font-face {
    font-family:'Rosario';
    src: url("font/Rosario-Italic.ttf");
    font-style: italic;
}



/* USING LESS: define variables to be re-used in different css parts and in operations */
/* example: */
/* @box-width: 350px; */
/* .double-box { */
/* width: 2 * @box-width; */
/* } */



body {
    font-family:'Rosario';
    font-size: 35px;
    background-color: #495182;
}
.container {
    margin-bottom: 50px;
}

p {
    
}

a, a:visited, a:active, a:link { 
    text-decoration: none;
    color: black;
}
a:hover {
    color: white; 
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-family:'Cabin';
    font-size: 16px;
}

.menu {
    background-color: black;
}

.menuhover img {
    position: absolute;
}
.menuhighlight {
    display: none;
}

.content {
    float: left;
    padding: 20px;
    width: 70%;
    margin: 15%
}



/*LIVRES*/
@bookswidth: 210px;
@shelfheight: 300px;

.books {
    margin: 30px;
    position: absolute; 
    width: 800px;
    top: 50%; 
    left: 50%; 
    margin-top: -300px; 
    margin-left: -400px;
}
.bookshelf {
    clear: both;
}
.bookshelf img {
    width: @bookswidth;
}
.book-cover-shelf {
    height: @shelfheight;
    width: @bookswidth;
    position: relative;
    float: left;
    margin-right: 30px;
}
.book-cover-shelf img{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.bibliography {
    width: 100%;
    clear: both;
    padding-bottom: 50px;
}
.biblio-legende {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: @bookswidth;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 25px;
    letter-spacing: 2px;
}

/* IMAGES */
.big-image {
    margin: 10px 20px 20px 0px;
    width: 700px;
    height: 500px;
    background-color: blue;
}

/*only on the screen*/

@media screen {
    .print-only {
        display:none;
    }
}

/*only in print*/

@media print {
    .screen-only {
        display:none;
    }
}
