/* Fixes the initial browser’s style */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* FONTS */
@font-face {
    font-family:'Rosario';
    src: url("font/Rosario-Regular.ttf");
    font-style: normal;
}
@font-face {
    font-family:'Rosario';
    src: url("font/Rosario-Italic.ttf");
    font-style: italic;
}



/* USING LESS: define variables to be re-used in different css parts and in operations */
/* example: */
/* @box-width: 350px; */
/* .double-box { */
/* width: 2 * @box-width; */
/* } */

/*ADMIN*/

.ajout-form {
    input {
        height: 23px;
        font-family:'Rosario';
        font-size: 18px;
        padding-left: 5px;
    }
    button {
        padding: 5px;
    }
}


/*     _____________   ____________  ___    __ 
    / ____/ ____/ | / / ____/ __ \/   |  / / 
   / / __/ __/ /  |/ / __/ / /_/ / /| | / /  
  / /_/ / /___/ /|  / /___/ _, _/ ___ |/ /___
  \____/_____/_/ |_/_____/_/ |_/_/  |_/_____/
                                             */


body {
    font-family:'Rosario';
    font-size: 35px;
    line-height: 39px;
    background-color: black;
    color: white;
}
.background-blue {
    background-color: #495182;
    color: black;
}
.container {
    margin-bottom: 50px;
}

p {
    
}

a, a:visited, a:active, a:link { 
    text-decoration: none;
    color: white;
}
a:hover {
    color: white; 
    text-decoration: none;
}
.links-black {
    a, a:visited, a:active, a:link {
        color: black;
    }
    a:hover {
        color: white; 
    }
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-family: 'Cabin';
    font-size: 16px;
}
.select_language {
    position: absolute;
}
.select_language li {
    color: white;
    margin: 20px;
    font-size: 20px;
    list-style-type: none;
}

.menu {
    
}
.menu-alt {
    padding-top: 10px;
    width: 100%;
}
.menu-alt a {
    color: black;
}
.menu-alt p {
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
}
.menu-alt li {
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
}

.menuhover img {
    position: absolute;
}
.menuhighlight {
    display: none;
}

.content {
    float: left;
    padding: 20px;
    width: 70%;
    margin: 15%
}

.carre-bleu {
    position: fixed; 
    height: 625px; 
    width: 800px; 
    top: 50%; 
    left: 50%; 
    margin-top: -315px; 
    margin-left: -400px; 
    z-index:-1; 
    background-color: #495182;
}

/* TITRES */
.titres {
    width: 250px; 
    margin: auto;
}
.titres img {
    padding-top: 80px;
    padding-bottom: 80px;
    margin: auto;
}

.contenu-centre {
    position: absolute; 
    width: 800px;
    left: 50%; 
    margin-left: -400px;
    padding-bottom: 100px;
    padding-left: 50px;
    img {
        width:700px;
        margin-top:20px;
    }
}


/*LIVRES*/
.titre-livres {
    width: 150px; 
    margin: 80px 0 80px 0;
}
.bouton-livres-biblio-off {
    color: transparent;
}
.bouton-livres-biblio {
    width: 270px;
    height: 30px; 
    text-align: right; 
    float: left; 
    margin-left: 70px; 
    margin-right: 10px;
}
.bouton-livres-biblio img {
    width: 30px; 
    margin-left: 10px; 
    margin-bottom: -8px;
}
.bouton-livres-biblio:hover span{
    color: white;
}
.bouton-livres-liste{
    width: 270px; 
    height: 30px; 
    text-align: left; 
    float: left; 
    margin-left: 10px;
    color: white;
}
.bouton-livres-liste img{
    width: 30px; 
    margin-right: 15px; 
    margin-bottom: -10px;
}
.bouton-livres-liste:hover span{
    color: white;
}

@bookswidth: 210px;
@shelfheight: 300px;

.books {
    position: absolute; 
    width: 800px;
    left: 50%; 
    margin-top: 0px;
    margin-left: -400px;
    padding-bottom: 100px;
    padding-left: 50px;
}
.bookshelf {
    clear: both;
    padding-top: 50px;
}
.bookshelf img {
    width: @bookswidth;
}
.book-cover-shelf {
    height: @shelfheight;
    width: @bookswidth;
    position: relative;
    float: left;
    margin-right: 30px;
}
.book-cover-shelf img{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.intertitres {
    width: 100%;
    clear: both;
    padding-top: 50px;
}
.bibliography {
    width: 100%;
    clear: both;
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: 30px;
}
.bibliography a {
    color: black;
}
.bibliography a:hover {
    color: white;
}
.biblio-legende {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: @bookswidth;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 25px;
    letter-spacing: 2px;
}
.livre-details {
    float: left;
    padding-right: 30px;
}
.livre-details-texte {
    font-size: 28px;
    line-height: 32px;
    margin-top: 20px;
    a {
        color: black;
    }
    a:hover {
        color: white;
    }
}
.livre-details img {
    width: 300px;
    margin-bottom: 30px;
}

/* LIENS */
.img-ref p {
    padding-top: 10px;
    width: 600px;
}

/* IMAGES */
.big-image {
    margin: 10px 20px 20px 0px;
    width: 700px;
    height: 500px;
    background-color: blue;
}

/*only on the screen*/

@media screen {
    .print-only {
        display:none;
    }
}

/*only in print*/

@media print {
    .no-print {
        display:none;
    }
    .bibliography {
        font-size: 16px;
        line-height: 20px;
        color: black;
        width: 500px;
    }
    .bibliography a {
        font-size: 16px;
        color: black;
    }
}

/* BIG SCREENS ONLY (COMPUTERS) */

@media screen and (min-width: 400px) {
    .menu-alt {
        visibility: hidden;
        position: absolute;
        left:-1000;
    }
}

/* SMALL SCREENS ONLY (SMARTPHONES) */

@media screen and (max-width: 400px) {
    .select_language {
    position: relative;
    }
    .select_language li {
        font-size: 35px;
    }
    .menu {
        background-color: #495182;
        visibility: hidden; 
    }
    .menu-alt {
        visibility: visible;
    }
    .menu-alt a {
        color: black;
    }
    .carre-bleu {
        height:100%;
        top: 0px;
        margin-top:0px;
    }
    .titres-livres {
        position: relative;
    }
    .books {
        position: relative; 
        width: 100%;
        top: 0; 
        left: 0; 
        margin-top: 40px; 
        margin-left: 0px;
        padding-left: 0px;
    }
    .book-cover-shelf {
        float: none;
        margin: auto;
    }
    .bibliography {
        width: 330px;
        margin: auto;
        font-size: 28px;
        padding-top: 0px;
    }
    .titre-livres {
        width: 150px; 
        margin: 80px 0 20px 0;
    }
    .bouton-livres-liste {
        text-align: center;
        float: none;
        margin: auto; 
        height: 50px;
    }
    .bouton-livres-biblio {
        text-align: center;
        float: none;
        margin: auto; 
        height: 60px;
    }
    .bouton-livres-biblio-off {
        color: white;
    }
    .printer-icon {
        visibility: hidden;
    }
    .intertitres {
        width: 330px;
        margin: auto;
        font-size: 28px;
    }
    .contenu-centre {
        position: relative; 
        width: 100%;
        top: 0; 
        left: 0; 
        margin-top: 120px; 
        margin-left: 0px;
        padding-left: 0px;
    }
    .contenu-centre img {
        width: 80%;
        margin-left: 10%;
        margin-bottom:20px;
    }
    .bio {
        width: 330px;
        margin: auto;
        font-size: 28px;
        line-height: 30px;
        padding-top: 0px;
    }
    .bio img {
        width: 330px;
        margin: auto;
    }
}
